<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>MiSS NERD Interface</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
    <script src="/static/d3/d3.js"></script>



  </head>

  <body>

    {% include "navbar.html"%}

    <div class="container">
        <div class="row">
            <div class="col-xs-12 text-center">
             <h4> NEW STORIES, NEVER HEARD BEFORE!  </h4>
                 <div class="panel-body col-xs-6" >
                     <div class="panel panel-default">
                          <!--<div class="panel-heading">-->
                            <!--<h3 class="panel-title">Search for a family</h3>-->
                          <!--</div>-->
                          <div class="panel-body" >
                             <form role="form" class="col-xs-12">
                                 <div class="form-group">
                                     <label>Search Here:</label><br>
                                     <textarea class="form-control col-xs-2" rows="4"  name="user_query" placeholder="... en .... echtelieden"
                                                 required>{{user_query}}</textarea>
                                      <button type="submit" class="btn btn-primary">Enter Your Query and Click Here</button>
                                 </div>
                            </form><!--/.span6-->
                          </div>
                     </div>

                 </div> <!-- div col2 -->
                 <div class="panel-body col-xs-6" >
                     <div class="panel panel-default">
                          <div class="panel-heading">
                            <h3 class="panel-title">Explore one of the following randomly chosen families</h3>
                          </div>
                          <div class="panel-body text-left">
                              {% for family in sample_families %}
                                <a href="./?user_query={{family}}">{{family}}</a>
                                    <br>
                              {% endfor %}

                          </div>
                     </div>
                 </div> <!-- div col2 -->
            </div>
            <p class="text-center">{{found_results}} results found for:  {{block_key_list}}</p>
            <div class="col-xs-12  center-block">
                    <div class="panel-body" id="d3_panel" />

                    <script>
                        svg_r = d3.select("body")
                                       .select("#d3_panel")
                                       .append("svg")

                        padding = 50;
                        w = svg_r.style("width").replace("px", "");
                        h = 50;
                        svg_r.attr("height", h)
                        /*
                        doc_list = []
                        doc_list.push({year:1629, id:1})
                        doc_list.push({year:1799, id:2})
                        doc_list.push({year:1810, id:3})
                        doc_list.push({year:1829, id:4})
                        */
                        doc_list = {{html_year|tojson|safe}}

                        min_year = d3.min(doc_list, function(d){return d.year})
                        max_year = d3.max(doc_list, function(d){return d.year})
                        var year_scale = d3.scale.linear()
                        .domain([min_year, max_year])
                        .range([padding, w-padding]);


                        svg_r.append("line")
                        .attr("x1",padding/2)
                        .attr("y1",h/2)
                        .attr("x2",padding/2)
                        .attr("y2",h/2)
                       .attr("stroke-width", 2)
                       .attr("stroke", "black")
                       .transition()
                       .duration(1000)
                        .attr("x2",w - padding/2)
                        .attr("y2",h/2)


                        MOUSE_CLICK = "FALSE"

                        svg_r.selectAll("circle")
                        .data(doc_list)
                        .enter()
                        .append("circle")
                        .attr("cx",function(d){return year_scale(d.year)})
                        .attr("cy",h/2)
                        .attr("r",6)
                        .attr("fill","gray")
                        .attr("stroke","black")
                        .on("mouseover", function(d) {
                            MOUSE_CLICK = "FALSE"
                            d3.select(this)
                            .transition()
                            .duration(500)
                            .attr("fill", "orange")
                            .attr("r", 8);


                            //Show the tooltip
                                d3.selectAll("#a" + d.year ).classed("hidden", false);
                            })

                         .on("mouseout", function(d) {

                            if (MOUSE_CLICK == "FALSE") {
                                d3.select(this)
                                .transition()
                                .duration(500)
                                .attr("fill", "gray")
                                .attr("r", 6);

                                //Hide the tooltip
                                d3.selectAll("#a" + d.year).classed("hidden", true);
                                }

                        })
                         .on("mousedown", function(d) {
                            console.log(d3.select("#a" + d.year).style('hidden'))
                            if (MOUSE_CLICK == "TRUE") {
                                MOUSE_CLICK = "FALSE"

                                d3.select(this)
                                .transition()
                                .duration(500)
                                .attr("fill", "gray")
                                .attr("r", 6);


                                //Hide the tooltip
                                d3.selectAll("#a" + d.year).classed("hidden", true);
                            }
                            else{
                                MOUSE_CLICK = "TRUE"

                            }

                        })


                        svg_r.selectAll("text")
                        .data(doc_list)
                        .enter()
                        .append("text")
                        .attr("x",function(d){return year_scale(d.year)})
                        .attr("y",function(d,i){return h/2 + 20 - (i%2 * 30)})
                        .text(function(d,i){return d.year})
                        .attr("font-family", "sans-serif")
                        .attr("font-size", "10px")
                        .attr("text-anchor", "middle")


                     </script>


                        {% for doc in doc_list %}
                            <div class="hidden" id="a{{doc['year']}}">{{doc['html']|safe}}</div>
                        {% endfor %}
             </div>
        </div>
    </div>

    <script src="/static/jquery-1.11.1.min.js"></script>
    <script src="{{ url_for('static',filename = 'bootstrap/js/bootstrap.min.js')}}"></script>
    <script src="{{ url_for('static',filename = 'd3/d3.js')}}"></script>


    <style>
        .highlight {
            background-color: #FFFF00;
        }
        .highlight_fuzzy {
            background-color: #00FF00;
        }

    </style>
  </body>
</html>
