<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>MiSS Intelligent Timeline</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
    <script src="/static/d3/d3.js"></script>



  </head>

  <body>

    {% include "navbar.html"%}

    <div class="container">
        <div class="row">
            <div class="col-xs-12 text-center">
             <h4> NEW STORIES, NEVER HEARD BEFORE!  </h4>
                 <div class="panel-body col-xs-6" >
                     <div class="panel panel-default">
                          <!--<div class="panel-heading">-->
                            <!--<h3 class="panel-title">Search for a family</h3>-->
                          <!--</div>-->
                          <div class="panel-body" >
                             <form role="form" class="col-xs-12">
                                 <div class="form-group">
                                     <label>Search Here:</label><br>
                                     <textarea class="form-control col-xs-2" rows="4"  name="user_query" placeholder="... en .... echtelieden"
                                                 required>{{user_query}}</textarea>
                                      <button type="submit" class="btn btn-primary">Enter Your Query and Click Here</button>
                                 </div>
                            </form><!--/.span6-->
                          </div>
                     </div>

                 </div> <!-- div co6 -->
                 <div class="panel-body col-xs-6" >
                     <div class="panel panel-default">
                          <div class="panel-heading">
                            <h3 class="panel-title">Explore one of the following randomly chosen families</h3>
                          </div>
                          <div class="panel-body text-left">
                              {% for family in sample_families %}
                                <a href="./?user_query={{family}}">{{family}}</a>
                                    <br>
                              {% endfor %}

                          </div>
                     </div>
                 </div> <!-- div col2 -->
            </div>
            <p class="text-center">{{found_results}} results found for:  {% for block_key in block_key_list%} <strong>{{block_key}}</strong> {% endfor%}</p>
            <div class="col-xs-12  center-block">
                    <div class="col-xs-12" id="d3_panel" />

                    <script>
                        svg_r = d3.select("body")
                                       .select("#d3_panel")
                                       .append("svg")

                        padding = 20;

                        c_r = 6
                        w = svg_r.style("width").replace("px", "");
                        w = 1200;
                        h = 400;
                        svg_r.attr("height", h)
                        .attr("width",w)

                        doc_list = {{html_year|tojson|safe}}

                        min_year = d3.min(doc_list, function(d){return d.year})
                        max_year = d3.max(doc_list, function(d){return d.year})

                        var year_scale = d3.scale.linear()
                        .domain([0, doc_list.length-1])
                        .range([padding, h-padding]);


                        svg_r.append("line")
                        .attr("x1",w/2)
                        .attr("y1",padding)
                        .attr("x2",w/2)
                        .attr("y2",padding)
                       .attr("stroke-width", 2)
                       .attr("stroke", "black")
                       .transition()
                       .duration(1000)
                        .attr("x2",w/2)
                        .attr("y2",h - padding)


                        svg_r.selectAll("circle")
                        .data(doc_list)
                        .enter()
                        .append("circle")
                        .attr("cx",w/2)
                        .attr("cy",function(d, i){return year_scale(i)})
                        .attr("r",c_r)
                        .attr("fill","gray")
                        .attr("stroke","black")
                        .on("mouseover", function(d,i) {

                            d3.select(this)
                            .transition()
                            .duration(500)
                            .attr("fill", "orange")
                            .attr("r", 2 * c_r);

                            //Get this bar's x/y values, then augment for the tooltip
                            var xPosition = i%2? padding : w/2 + 6 * padding ;
                            var yPosition = 10 ;

                            //Update the tooltip position and value
                            d3.selectAll("#a" + i)
                              .style("left", xPosition + "px")
                              .style("top", yPosition + "px")
                              .style("position", "absolute")



                            //Show the tooltip
                            d3.selectAll("#a" + i ).classed("hidden", false);
                            })

                         .on("mouseout", function(d,i) {

                            if (! d.show) {
                                d3.select(this)
                                .transition()
                                .duration(500)
                                .attr("fill", "gray")
                                .attr("r", c_r);

                                //Hide the tooltip
                                d3.selectAll("#a" + i).classed("hidden", true);
                                }

                        })
                         .on("mousedown", function(d, i) {

                            if (d.show == true) {

                                d3.select(this)
                                .transition()
                                .duration(500)
                                .attr("fill", "gray")
                                .attr("r", c_r);


                                //Hide the tooltip
                                d3.selectAll("#a" + i).classed("hidden", true);
                                d.show = false
                            }
                            else {
                                d.show = true

                            }

                        })


                        svg_r.selectAll("text .year")
                        .data(doc_list)
                        .enter()
                        .append("text")
                        .attr("class", "year")
                        .attr("x",function(d,i){return w/2 + 20 - (i%2 * 40)})
                        .attr("y",function(d,i){return -5 + year_scale(i)})
                        .text(function(d,i){return d.year})
                        .attr("font-family", "sans-serif")
                        .attr("font-size", "10px")
                        .attr("text-anchor", "middle")
                        /*
                        svg_r.selectAll("text .title")
                        .data(doc_list)
                        .enter()
                        .append("text")
                        .attr("class","hidden title")
                        .attr("id", function(d,i) {return ("a" + i)})
                        .attr("x",function(d,i){return (i%2) ? w/2 - 100 : w/2 + 50})
                        .attr("y",function(d,i){return  -5 + year_scale(i)})
                        .text(function(d,i){return "(" + d.title + ")"})
                        .attr("font-family", "sans-serif")
                        .attr("font-size", "10px")
                        .attr("text-anchor", function(d,i) { return i%2 ? "left": "right"})
                        */
                        rect_width = 120


                        // horizontal line
                        svg_r.selectAll("line .c2r")
                        .data(doc_list)
                        .enter()
                        .append("line")
                        .attr("class", "c2r")
                        .attr("id", function(d,i) {return ("a" + i)})
                        .attr("class","hidden")
                        .attr("x1", function(d,i){return w/2 + 2 * c_r -  i%2 * 4 * c_r })
                        .attr("y1", function(d,i){return year_scale(i)})
                        .attr("x2", function(d,i){return (i%2) ? 5 * padding : w - 5 * padding})
                        .attr("y2", function(d,i){return year_scale(i)})
                        .attr("stroke", "black")
                        .attr("fill", "white")

                        // vertical line
                        svg_r.selectAll("line .r2r")
                        .data(doc_list)
                        .enter()
                        .append("line")
                        .attr("class", "r2r")
                        .attr("id", function(d,i) {return ("a" + i)})
                        .attr("class","hidden")
                        .attr("x1", function(d,i){return (i%2) ? 5 * padding : w - 5 * padding})
                        .attr("y1", function(d,i){return year_scale(i)})
                        .attr("x2", function(d,i){return (i%2) ? 5 * padding : w - 5 * padding})
                        .attr("y2", function(d,i){return year_scale(0)})
                        .attr("stroke", "black")
                        .attr("fill", "white")

                        /*
                        svg_r.selectAll("rect")
                        .data(doc_list)
                        .enter()
                        .append("rect")
                        .attr("class","hidden")
                        .attr("id", function(d,i) {return ("a" + i)})
                        .attr("x", function(d,i){return (i%2) ? padding : w - padding - rect_width })
                        .attr("y", function(d,i){return year_scale(i) - rect_width/2})
                        .attr("width", rect_width)
                        .attr("height", 120)
                        .attr("stroke", "black")
                        .attr("fill", "white")

                        svg_r.selectAll("text .concept")
                        .data(doc_list)
                        .enter()
                        .append("text")
                        .attr("class", "hidden concept")
                        .attr("id", function(d,i) {return ("a" + i)})
                        .attr("x", function(d,i){return (i%2) ? padding + rect_width / 2 : w - padding  - rect_width  + rect_width / 2})
                        .attr("y", function(d,i){return year_scale(i) - rect_width / 3})
                        .attr("font-family", "sans-serif")
                        .attr("fill", "red")
                        .attr("font-size", "13px")
                        .attr("text-anchor", "middle")
                        .text(function(d){return d.title})
                        */

                     </script>


                        {% for doc in doc_list %}
                            <div class="col-xs-5 hidden" id="a{{loop.index-1}}">{{doc['html']|safe}}</div>
                        {% endfor %}
             </div>
        </div>
    </div>

    <script src="/static/jquery-1.11.1.min.js"></script>
    <script src="{{ url_for('static',filename = 'bootstrap/js/bootstrap.min.js')}}"></script>
    <script src="{{ url_for('static',filename = 'd3/d3.js')}}"></script>


    <style>
        .highlight {
            background-color: #FFFF00;
        }
        .highlight_fuzzy {
            background-color: #00FF00;
        }

    </style>
  </body>
</html>
