<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>MiSS Intelligent Timeline</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
    <script src="/static/d3/d3.js"></script>



  </head>

  <body>

    {% include "navbar.html"%}

    <div class="container">
        <div class="row">
            <!--<div class="col-xs-12 text-center">-->
             <h4 align="center"> NEW STORIES, NEVER HEARD BEFORE!  </h4>
            <hr>

                 <!--<div class="panel-body col-xs-6" >-->
                     <!--<div class="panel panel-default">-->
                          <!--&lt;!&ndash;<div class="panel-heading">&ndash;&gt;-->
                            <!--&lt;!&ndash;<h3 class="panel-title">Search for a family</h3>&ndash;&gt;-->
                          <!--&lt;!&ndash;</div>&ndash;&gt;-->
                          <!--&lt;!&ndash;<div class="panel-body" >&ndash;&gt;-->
                             <!--&lt;!&ndash;<form role="form" class="col-xs-12">&ndash;&gt;-->
                                 <!--&lt;!&ndash;<div class="form-group">&ndash;&gt;-->
                                     <!--&lt;!&ndash;<label>Search Here:</label><br>&ndash;&gt;-->
                                     <!--&lt;!&ndash;<textarea class="form-control col-xs-2" rows="4"  name="user_query" placeholder="... en .... echtelieden"&ndash;&gt;-->
                                                 <!--&lt;!&ndash;required>{{user_query}}</textarea>&ndash;&gt;-->
                                      <!--&lt;!&ndash;<button type="submit" class="btn btn-primary">Enter Your Query and Click Here</button>&ndash;&gt;-->
                                 <!--&lt;!&ndash;</div>&ndash;&gt;-->
                            <!--&lt;!&ndash;</form>&lt;!&ndash;/.span6&ndash;&gt;&ndash;&gt;-->
                          <!--&lt;!&ndash;</div>&ndash;&gt;-->
                     <!--</div>-->

                 <!--</div> &lt;!&ndash; div co6 &ndash;&gt;-->
                 <!--<div class="panel-body col-xs-6" >-->
                     <!--<div class="panel panel-default">-->
                          <!--<div class="panel-heading">-->
                            <!--<h3 class="panel-title">Explore one of the following randomly chosen families</h3>-->
                          <!--</div>-->
                          <!--<div class="panel-body text-left">-->
                              <!--{% for family in sample_families %}-->
                                <!--<a href="./?search_term={{family}}">{{family}}</a>-->
                                    <!--<br>-->
                              <!--{% endfor %}-->

                          <!--</div>-->
                     <!--</div>-->
                 <!--</div> &lt;!&ndash; div col2 &ndash;&gt;-->
            {% if found_results %}
            <p class="text-center">{{found_results}} results found for:  <strong> {{couple_name}} </strong> <br> <small>({{block_key[0]}})</small> </p>
            <div class="col-xs-12  center-block">
                    <div class="col-xs-12" id="d3_panel" />

                    <script>
                        svg_r = d3.select("body")
                                       .select("#d3_panel")
                                       .append("svg")

                        padding = 20;

                        c_r = 6
                        //w = svg_r.style("width").replace("px", "");
                        w = 1100;
                        h = 550;
                        svg_r.attr("height", h)
                        .attr("width",w)

                        doc_list = {{html_year|tojson|safe}}
                        min_year = d3.min(doc_list, function(d){return d.year})
                        max_year = d3.max(doc_list, function(d){return d.year})

                        var year_scale = d3.scale.linear()
                        .domain([0, doc_list.length-1])
                        .range([padding, h-padding]);


                        svg_r.append("line")
                        .attr("x1",w/2)
                        .attr("y1",padding)
                        .attr("x2",w/2)
                        .attr("y2",padding)
                        .attr("stroke-width", 2)
                        .attr("stroke", "black")
                        .transition()
                        .duration(1000)
                        .attr("x2",w/2)
                        .attr("y2",h - padding)


                        svg_r.selectAll("circle")
                        .data(doc_list)
                        .enter()
                        .append("circle")
                        .attr("cx",w/2)
                        .attr("cy",function(d, i){return year_scale(i)})
                        .attr("r",c_r)
                        .attr("fill","gray")
                        .attr("stroke","black")
                        .on("mouseover", function(d,i) {

                            d3.select(this)
                            .transition()
                            .duration(500)
                            .attr("fill", "orange")
                            .attr("r", 2 * c_r);

                            //Get this bar's x/y values, then augment for the tooltip
                            var xPosition = i%2? 0 : w/2 + 4 * padding ;
                            var yPosition = 0 ;

                            //Update the tooltip position and value
                            d3.selectAll("#a" + i)
                              .style("left", xPosition + "px")
                              .style("top", yPosition + "px")
                              .style("position", "absolute")



                            //Show the tooltip
                            d3.selectAll("#a" + i ).classed("hidden", false);
                            })

                         .on("mouseout", function(d,i) {

                            if (! d.show) {
                                d3.select(this)
                                .transition()
                                .duration(500)
                                .attr("fill", "gray")
                                .attr("r", c_r);

                                //Hide the tooltip
                                d3.selectAll("#a" + i).classed("hidden", true);
                                }

                        })
                         .on("mousedown", function(d, i) {

                            if (d.show == true) {

                                d3.select(this)
                                .transition()
                                .duration(500)
                                .attr("fill", "gray")
                                .attr("r", c_r);


                                //Hide the tooltip
                                d3.selectAll("#a" + i).classed("hidden", true);
                                d.show = false
                            }
                            else {
                                d.show = true

                            }

                        })
                        .append("title")
                        .text("click here to freeze the card!")


                        svg_r.selectAll("text .title")
                        .data(doc_list)
                        .enter()
                        .append("text")
                        .attr("class", "year")
                        .attr("x",function(d,i){return w/2 })
                        .attr("y",function(d,i){return year_scale(i)+c_r/2})
                        .text(function(d,i){return d.title[0]})
                        .attr("font-family", "sans-serif")
                        .attr("font-size", "8px")
                        .attr("text-anchor", "middle")
                        .attr("fill", "white")
                        .attr('pointer-events', "none")


                        svg_r.selectAll("text .year")
                        .data(doc_list)
                        .enter()
                        .append("text")
                        .attr("class", "year")
                        .attr("x",function(d,i){return w/2 + 40 - (i%2 * 80)})
                        .attr("y",function(d,i){return -5 + year_scale(i)})
                        .text(function(d,i){return d.year + ' (' + (d.city.length < 6 ? d.city: d.city.substring(0,5) + '...') + ')'})
                        .attr("font-family", "sans-serif")
                        .attr("font-size", "10px")
                        .attr("text-anchor", "middle")
                        rect_width = 120


                        // horizontal line
                        svg_r.selectAll("line .c2r")
                        .data(doc_list)
                        .enter()
                        .append("line")
                        .attr("class", "c2r")
                        .attr("id", function(d,i) {return ("a" + i)})
                        .attr("class","hidden")
                        .attr("x1", function(d,i){return w/2 + 2 * c_r -  i%2 * 4 * c_r })
                        .attr("y1", function(d,i){return year_scale(i)})
                        .attr("x2", function(d,i){return (i%2) ? 5 * padding : w - 5 * padding})
                        .attr("y2", function(d,i){return year_scale(i)})
                        .attr("stroke", "black")
                        .attr("fill", "white")

                        // vertical line
                        svg_r.selectAll("line .r2r")
                        .data(doc_list)
                        .enter()
                        .append("line")
                        .attr("class", "r2r")
                        .attr("id", function(d,i) {return ("a" + i)})
                        .attr("class","hidden")
                        .attr("x1", function(d,i){return (i%2) ? 5 * padding : w - 5 * padding})
                        .attr("y1", function(d,i){return year_scale(i)})
                        .attr("x2", function(d,i){return (i%2) ? 5 * padding : w - 5 * padding})
                        .attr("y2", function(d,i){return year_scale(0)})
                        .attr("stroke", "black")
                        .attr("fill", "white")




                     </script>

                        <!--Here we have the hidden cards that will show up once we move on the key -->
                        {% for doc in doc_list %}
                            <div class="col-xs-5 hidden "  style="height:550px; overflow:auto" id="a{{loop.index-1}}">{{doc['html']|safe}}</div>
                        {% endfor %}
             </div>
            {% else %}
                <p class="text-warning" align="center">No results found!  </p> <p class="text-info">Either search for a couple (e.g., Anna Hout & Johannes Timmers) using the top right search bar,
                    or click on the <i class="glyphicon glyphicon-question-sign"></i> icon at the top-right corner to
                look at a random couple. You can also start with one of the following interesting stories. </p>
            {% endif %}
        </div>
     Interesting Stories:
        <small>
        <a href="/hash_matches/?search_term=Johanna+Pas+%26+Lucas+Dobbelsteen"> Johanna Pas & Lucas Dobbelsteen</a>,
        <a href="/hash_matches/?search_term=Johannes+Genugten+%26+Petronella+Rovers"> Johannes Genugten & Petronella Rovers</a>,
        <a href="/hash_matches/?search_term=Catharina+Clabbers+%26+Jan+Linders"> Elisabeth Dungen & Francis Dijk</a>,
        <a href="/hash_matches/?search_term=Hendrika+Velden+%26+Theodorus+Berg"> Hendrika Velden & Theodorus Berg</a>,
        <a href="/hash_matches/?search_term=Hermanus+Hofmans+%26+Maria+Pluk"> Maria Teulings & Theodorus Houtum</a>,
        <a href="/hash_matches/?search_term=Johanna+Tielemans+%26+Petrus+Kerkhof"> Johanna Tielemans & Petrus Kerkhof</a>,
        <a href="/hash_matches/?search_term=Hendrina+Elft+%26+Matijs+Thijssen"> Anthonetta Erp & Willebrordus Donkers</a>,
        <a href="/hash_matches/?search_term=Hendrikus+Linden+%26+Mechelina+Verbruggen"> Hendrikus Linden & Mechelina Verbruggen</a>,
        <a href="/hash_matches/?search_term=Helena+Verstraaten+%26+Hendricus+Abel"> Gerardus Kemenade & Petronella Wijdeven</a>,





        </small>
    </div>

    <script src="/static/jquery-1.11.1.min.js"></script>
    <script src="{{ url_for('static',filename = 'bootstrap/js/bootstrap.min.js')}}"></script>
    <script src="{{ url_for('static',filename = 'd3/d3.js')}}"></script>


    <style>
        .highlight {
            background-color: #FFFF00;
        }
        .highlight_fuzzy {
            background-color: #00FF00;
        }

    </style>
  </body>
</html>
