<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>MiSS Web Interface</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">

  </head>

  <body>

    {% include "navbar.html"%}

    <div class="container">
        <div class="row">
            {% if message or header %}
                <div class="jumbotron">
                    <h1> {{header}} </h1>
                    <p>{{message}}</p>
                    {% if page_name == 'load_data' %}
                        {% if  data["Persons"] or data["data"] %}
                              <h3>Data is loaded!</h3>
                              <div class="col-xs-14 col-sm-12 sidebar-offcanvas" id="sidebar" role="navigation">
                              <div class="list-group">
                                {% for key,value in data.iteritems() %}
                                <b>{{key}}</b>: {{value}}
                                  <br>
                                {% endfor %}
                              </div>
                            </div><!--/span-->

                        <form class="navbar-form navbar-center" action="/load_data/"  method="get">
                            <div class="btn-toolbar" role="toolbar">
                                <button type="submit" name="refresh" value="true" class="btn btn-success">Refresh Page</button>
                                <button type="submit" name="clear" value="true" class="btn btn-warning">Clear Data</button>
                            </div>
                        </form>
                    {% endif %}
                        <form class="navbar-form navbar-center" action="/load_data/"  method="get">
                            <div class="btn-toolbar" role="toolbar">
                                <p>Choose type and amount of documents which should be loaded:</p>

                                <div class="btn-group" data-toggle="buttons">
                                    <label class="btn btn-default " >
                                        <input type="checkbox" name="birth" value="birth" >Birth
                                    </label>
                                    <label class="btn btn-default active">
                                        <input type="checkbox" name="marriage" value="marriage" checked="">Marriage
                                    </label>
                                    <label class="btn btn-default" active>
                                        <input type="checkbox" name="death" value="death">Death
                                    </label>
                                </div>
                                <div class="btn-group" data-toggle="buttons">
                                    <label class="btn btn-default">
                                        <input type="radio" name="limit" value="200">200
                                    </label>
                                    <label class="btn btn-default active" >
                                        <input type="radio" name="limit" value="2000" checked="">2000
                                    </label>
                                    <label class="btn btn-default" >
                                        <input type="radio" name="limit" value="20000" >20,000
                                    </label>
                                    <label class="btn btn-default">
                                        <input type="radio" name="limit" value="200000">200,000
                                    </label>
                                    <label class="btn btn-default limit">
                                        <input type="radio" name="limit" value="2000000">2,000,000
                                    </label>
                                    <label class="btn btn-default limit">
                                        <input type="radio" name="limit" value="0">ALL
                                    </label>
                                </div>
                                <button type="submit" class="btn btn-primary">Load Data</button>
                                </div>
                        </form>




                    {% endif %}

                </div>



            {% endif %}

       {% if p is defined %}
          <div class="row row-offcanvas row-offcanvas-right">

              <div class="col-xs-14 col-sm-4 sidebar-offcanvas" id="sidebar" role="navigation">
              <div class="list-group">
                {% for key,value in p.iteritems() %}
                     <b> {{key}} </b>: {{value}}
                  <br>

              {% endfor %}
                <div class="pull-right">
                    {% if p['type_text'] == 'birth' %}
                        <img alt="register_type" src="{{ url_for('static', filename='icon_birth.jpg') }}" WIDTH=40  />
                    {% endif %}
                    {% if p['type_text'] == 'marriage' %}
                        <img alt="register_type" src="{{ url_for('static', filename='icon_marriage.jpg') }}" WIDTH=45  />
                    {% endif %}
                    {% if p['type_text'] == 'death' %}
                        <img alt="register_type" src="{{ url_for('static', filename='icon_death.jpg') }}" WIDTH=50  />
                    {% endif %}
                </div>
              </div>
            </div><!--/span-->
        {% if json_dict_h %}
            <div class="col-sm-8" id="graph_left"> </div>
        {% endif %}
          </div><!--/row-->
       {% endif %}


       {% if doc1 and doc2 %}
          <div class="row row-offcanvas row-offcanvas-right">
              <div class="col-sm-2 col-md-2 sidebar">
                  <ul class="nav nav-sidebar">
                    {% if navbar_choices %}
                        <li> <a href="/miss_matches/{{navbar_choices[0]['index']-1}}"><span class="glyphicon glyphicon-chevron-up"/> </a></li>
                        <li> <p class="small text-danger" align="center"> <b>0.1% of matches are listed here, sorted by score in descending order.</b></p></li>
                        <!--<li> <p class="small" align="center"> <b>Matching Score</b><p></li>-->
                        <li class="current" style="background: #F0F0F0;"><a class="small">
                                #{{navbar_choices[0]['index']}})
                                <b>{{navbar_choices[0]['score']}}</b></a>
                         </li>

                    {% for item in navbar_choices[1:] %}
                        <li><a href="/miss_matches/{{item['index']}}" class="small">#{{item['index']}})<b> {{item['score']}}</b></a>
                            </li>
                    {% endfor %}
                        <li> <a href="/miss_matches/{{navbar_choices[0]['index']+1}}"><span class="glyphicon glyphicon-chevron-down"/></a></li>
                    {% endif %}

                  </ul>

              </div>
              <div class="col-xs-10  sidebar-offcanvas"  role="navigation">
                    {% if block %}
                      <h3>  <span class="label label-success">Common Block IDs: {{block['block_id']}} </span> </h3>
                      <hr>
                    {% endif %}
                    {% if match_details %}
                      <div class="row row-offcanvas">
                          <div class="col-xs-6  sidebar-offcanvas">
                              <h3>

                                  <br>
                                  {% if match_details['eval'] == 1 %}
                                      <span class="label label-success">Match ID: {{match_details['index']}} / Match Score: {{match_details['score']}} {{match_details['type']}}
                                      </span>
                                      <br>
                                      <span class="label label-success"> <i class="glyphicon glyphicon-ok"></i> </span>
                                  {% endif %}
                                  {% if match_details['eval'] == 0 %}
                                      <span class="label label-danger">Match ID: {{match_details['index']}} / Match Score: {{match_details['score']}} {{match_details['type']}}
                                      </span>
                                      <br>
                                      <span class="label label-danger"> <i class="glyphicon glyphicon-remove"></i> </span>
                                  {% endif %}
                                  {% if not match_details['eval'] == 1 and not match_details['eval'] == 0%}
                                      <span class="label label-info">Match ID: {{match_details['index']}} / Match Score: {{match_details['score']}} {{match_details['type']}}
                                      </span>
                                  {% endif %}
                              </h3>
                          </div>
                          <div class="col-xs-6 text-center">
                            {% include "evaluate_form.html" %}
                          </div>
                        </div>
                      <hr>
                    {% endif %}

                  <div class="row row-offcanvas row-offcanvas-right">
                        {% if json_dict_h and json_dict_h2%}
                            <div class="col-sm-6" id="graph_left"> </div>
                            <div class="col-sm-6" id="graph_right"> </div>
                            <hr>
                        {% endif %}

                      <div class="col-xs-6"  role="navigation">
                          <div class="list-group">
                            {% if doc1['type_text'] == 'birth' %}
                                <img alt="register_type" src="{{ url_for('static', filename='icon_birth.jpg') }}" WIDTH=40  />
                            {% endif %}
                            {% if doc1['type_text'] == 'marriage' %}
                                <img alt="register_type" src="{{ url_for('static', filename='icon_marriage.jpg') }}" WIDTH=45  />
                            {% endif %}
                            {% if doc1['type_text'] == 'death' %}
                                <img alt="register_type" src="{{ url_for('static', filename='icon_death.jpg') }}" WIDTH=50  />
                            {% endif %}
                            <br>
                            {% for key,value in doc1.iteritems() %}
                            <b> {{key}}</b>: {{value}}
                              <br>
                            {% endfor %}
                          </div>

                      </div><!--/span-->
                      <div class="col-xs-6" role="navigation">
                          <div class="list-group">
                            {% if doc2['type_text'] == 'birth' %}
                                <img alt="register_type" src="{{ url_for('static', filename='icon_birth.jpg') }}" WIDTH=40  />
                            {% endif %}
                            {% if doc2['type_text'] == 'marriage' %}
                                <img alt="register_type" src="{{ url_for('static', filename='icon_marriage.jpg') }}" WIDTH=45  />
                            {% endif %}
                            {% if doc2['type_text'] == 'death' %}
                                <img alt="register_type" src="{{ url_for('static', filename='icon_death.jpg') }}" WIDTH=50  />
                            {% endif %}
                            <br>
                            {% for key,value in doc2.iteritems() %}
                            <b> {{key}}</b>: {{value}}
                              <br>
                            {% endfor %}
                          </div>
                      </div><!--/span-->
                  </div>
            </div>
          </div><!--/row-->
        {% endif %}




         {% if p2 is defined %}
          <div class="row row-offcanvas row-offcanvas-right">
            <hr>
                {% for p2_key, p2_value in p2.iteritems() %}
                <div class="col-xs-3 col-sm-3 sidebar-offcanvas" id="sidebar" role="navigation">
                  <div class="list-group">
                    <h3>({{p2_key}})</h3>
                    {% for key,value in p2_value.iteritems() %}
                    <b> {{key}}</b>: {{value}}
                      <br>
                    {% endfor %}
                  </div>
                </div>
                {% endfor %}
            </div>
          {% endif %}

             {% if p3 is defined %}
              <div class="row row-offcanvas row-offcanvas-right">
                <hr>
                {% for p3_key, p3_value in p3.iteritems() %}
                <div class="col-xs-3 col-sm-2 sidebar-offcanvas" id="sidebar" role="navigation">
                  <div class="list-group">
                    <h4>{{p3_key}}</h4>
                    {% for key,value in p3_value.iteritems() %}
                    <small><b> {{key}}</b>: {{value}} </small>
                      <br>
                    {% endfor %}
                  </div>
                </div>
                {% endfor %}
                </div>
            {% endif %}
            <!--<div class="col-xs-12 col-sm-9">-->
                <!--<p class="pull-right visible-xs">-->
                <!--<button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">Toggle nav</button>-->
              <!--</p>-->

            <!--</div>&lt;!&ndash;/span&ndash;&gt;-->


        </div>
      {% include "footer.html" %}


    </div><!--/.container-->



    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="{{ url_for('static',filename = 'bootstrap/js/bootstrap.min.js')}}"></script>
    <script src="{{ url_for('static',filename = 'd3/d3.js')}}"></script>
    <style> {%include "my_scripts/tree_style.css" %}</style>

    {% if json_dict_h %}
        <script>
            var margin = {top: 1, right: -200, bottom: 0, left: 180},
                width = 400 - margin.left - margin.right,
                height = 300 - margin.top - margin.bottom;

            var svg = d3.select("#graph_left").append("svg")
                .attr("width", width + margin.left + margin.right)
                .attr("height", height + margin.top + margin.bottom)
                .append("g")
                .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

            var myjson = '{{json_dict_h|tojson|safe}}';

            {% include "my_scripts/draw_tree_h.js" %}
        </script>
    {% endif %}

    {% if json_dict_h2 %}
        <script>
            var margin = {top: 1, right: -200, bottom: 0, left: 180},
                width = 400 - margin.left - margin.right,
                height = 300 - margin.top - margin.bottom;

            var svg = d3.select("#graph_right").append("svg")
                .attr("width", width + margin.left + margin.right)
                .attr("height", height + margin.top + margin.bottom)
                .append("g")
                .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

            var myjson = '{{json_dict_h2|tojson|safe}}';

            {% include "my_scripts/draw_tree_h.js" %}
        </script>
    {% endif %}

    <!--Copies the linked/matched document ids in the linkbar-->
   {% if doc1 and doc2 %}
   <script type="text/javascript">
        var stateObj = { foo: "bar" };
        function change_my_url()
        {
           history.pushState(stateObj, "page 1", "{{match_details.index}}");
        }
        change_my_url()
    </script>
    {% endif %}

    <!--Copies the document/person/block id in the linkbar-->
   {% if p is defined %}
    <script type="text/javascript">
        var stateObj = { foo: "bar" };
        function change_my_url()
        {
           history.pushState(stateObj, "page 1", "{{p.id}}");
        }
        change_my_url()
    </script>
   {% endif %}

  </body>
</html>
