<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>MiSS NERD Interface</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <script src="/static/d3/d3.js"></script>

  </head>

  <body>

    {% include "navbar.html"%}
    <div class="container">
        <div class="row">
            <div class="col-xs-12 text-center">
                  <ul class="pagination" style="margin-bottom: 0px;">
                    {% if navbar_choices %}
                        <li> <a href="/complex_matches/{{navbar_choices[0]-1}}" class="small">
                            «</a></li>
                        <li class="current" style="background: #F0F0F0;"><a class="small"> #{{navbar_choices[0]}} </a> </li>

                    {% for item in navbar_choices[1:] %}
                        <li><a href="/complex_matches/{{item}}" class="small">#{{item}}</a>
                            </li>
                    {% endfor %}
                        <li> <a href="/complex_matches/{{navbar_choices[0] + 1}}" class="small">
                            »</a></li>
                    {% endif %}

                  </ul>

              </div> <!-- div col2 -->

            <div class="col-xs-12 text-center">

                <div class="row" id="content" >
                    <div class="col-xs-12 text-center">
                    <h4> NEW STORIES, NEVER HEARD BEFORE! (#{{navbar_choices[0]}}) </h4>

                        {% for doc in doc_list %}
                        <div class="col-xs-5">
                            {{doc['html']|safe}}
                        </div>
                        {% endfor %}
                    </div>
                </div>
                    <div class="col-xs-12 text-center">
                            <div class="panel-body" id="d3_panel" >


                                <hr>
                                <!--
                                <script>
                                    svg_r = d3.select("body")
                                                   .select("#d3_panel")
                                                   .append("svg")

                                    padding = 40;
                                    shift = svg_r.style("width").replace("px", "") / 2;
                                    radius = 100

                                    doc_list = {{doc_list_d3|tojson|safe}}
                                    console.log(doc_list)

                                    svg_r.attr("height", doc_list.length / 2 * shift)
                                    for (i in doc_list){

                                        tmp_doc = doc_list[i]

                                        shift_x = i % 2  * shift
                                        shift_y = Math.ceil((i-1) / 2) * .7 * shift

                                        svg_r.append("circle")
                                        .attr("cx",i % 2  * shift + 2 * padding + radius)
                                        .attr("cy", Math.ceil((i-1) / 2) * .7 * shift + 2 * padding + radius)
                                        .attr("r",1.5 * radius )
                                        .attr("fill", "RGB(220,220,220)")

                                        svg_r.append("text")
                                        .attr("x",i % 2  * shift + 2 * padding + radius)
                                        .attr("y", Math.ceil((i-1) / 2) * .7 * shift + 2 * padding + radius)
                                        .text(tmp_doc.doc_type)
                                        .attr("font-family", "sans-serif")
                                        .attr("font-size", "18px")
                                        .attr("text-anchor", "middle")
                                        .attr("fill", "black");

                                        angle_c = .3 * tmp_doc.ref_list.length

                                        svg_r.selectAll("circle .ref")
                                        .data(tmp_doc.ref_list)
                                        .enter()
                                        .append("circle")
                                        .attr("class","ref")
                                        .attr("cx",function(d,i){return shift_x + 2 * padding + radius + Math.sin(i / angle_c)*radius;})
                                        .attr("cy",function(d,i){return shift_y + 2 * padding + radius - Math.cos(i / angle_c)*radius;})
                                        .attr("r",10)
                                        .attr("fill", "teal")

                                        svg_r.selectAll("text .ref")
                                        .data(tmp_doc.ref_list)
                                        .enter()
                                        .append("text")
                                        .attr("class","ref")
                                        .text(function(d){return d.name})
                                        .attr("x",function(d,i){return shift_x + 2.3 * padding + radius + Math.sin(i / angle_c)*radius;})
                                        .attr("y",function(d,i){return shift_y + 2 * padding + radius - Math.cos(i / angle_c)*radius;})
                                        .attr("font-family", "sans-serif")
                                        .attr("font-size", "10px")
                                        .attr("fill", "black");
                                     }


                                    /*
                                    data_node = [];
                                    data_link = [];
                                    text_data = []
                                    for (i in text_data) {

                                        data_node.push({
                                                         name:text_data[i].ref1[1],
                                                         x: padding,
                                                         y: (180 * i + 10)
                                                        },
                                                        {
                                                         name:text_data[i].ref2[1],
                                                         x: 4 * padding,
                                                         y: (180 * i + 110)
                                                        }
                                                       )

                                        data_link.push({
                                                         name:text_data[i].relation,
                                                         x1: padding,
                                                         x2: 4 * padding,
                                                         y1: (180 * i + 10),
                                                         y2: (180 * i + 110)
                                                        }
                                                       )

                                    }

                                    //svg_r.attr("height",180 * text_data.length);

                                    svg_r.selectAll("circle .node")
                                          .data(data_node)
                                          .enter()
                                          .append("circle")
                                          .attr("class","node")
                                            .attr("cx",function(d){return d.x})
                                            .attr("cy",function(d){return d.y})
                                            .attr("r",4)

                                    svg_r.selectAll("text .node")
                                          .data(data_node)
                                          .enter()
                                          .append("text")
                                          .attr("class","node")
                                            .text(function(d){return d.name})
                                            .attr("x",function(d){return d.x + 10})
                                            .attr("y",function(d){return d.y})
                                            .attr("font-family", "sans-serif")
                                            .attr("font-size", "12px")
                                            .attr("fill", "black");

                                    svg_r.selectAll("line .link")
                                          .data(data_link)
                                          .enter()
                                          .append("line")
                                          .attr("class","link")
                                            .attr("x1",function(d){return d.x1})
                                            .attr("y1",function(d){return d.y1})
                                            .attr("x2",function(d){return d.x1})
                                            .attr("y2",function(d){return d.y1})
                                           .attr("stroke-width", 2)
                                           .attr("stroke", "black")
                                           .transition()
                                           .duration(2000)
                                            .attr("x2",function(d){return d.x2})
                                            .attr("y2",function(d){return d.y2})

                                    svg_r.selectAll("line .link")
                                          .data(data_link)
                                          .enter()
                                           .append("text")
                                            .text(function(d){return "(" + d.name + ")"})
                                            .attr("x",function(d){return (d.x1 + d.x2) / 2 + 10})
                                            .attr("y",function(d){return (d.y1 + d.y2)/2})
                                            .attr("font-family", "sans-serif")
                                            .attr("font-size", "12px")
                                            .attr("fill", "red");

                                */
                                </script>
                                -->
                            </div>

                    </div> <!-- text_center -->





        </div> <!--row -->
    </div> <!--div -->


    <script src="/static/jquery-1.11.1.min.js"></script>
    <script src="/static/bootstrap/js/bootstrap.min.js"></script>
    <script src="/static/d3/d3.js"></script>
  <!--<script>-->
      <!--function highlight(container,what,spanClass) {-->
            <!--var content = container.innerHTML,-->
            <!--pattern = new RegExp('(>[^<.]*)(' + what + ')([^<.]*)','g'),-->
            <!--replaceWith = '$1<span ' + ( spanClass ? 'class="' + spanClass + '"' : '' ) + '">$2</span>$3',-->
            <!--highlighted = content.replace(pattern,replaceWith);-->
        <!--return (container.innerHTML = highlighted) !== content;-->
        <!--}-->

        <!--function highlight2() {-->
            <!--var text = document.getElementById("content");-->
            <!--console.log(text)-->
            <!--var query = new RegExp("(\\b" + text + "\\b)", "gim");-->
            <!--var e = document.getElementById("content").innerHTML;-->
            <!--var enew = e.replace(/(<span>|<\/span>)/igm, "");-->
            <!--document.getElementById("searchtext").innerHTML = enew;-->
            <!--var newe = enew.replace(query, "<span>$1</span>");-->
            <!--document.getElementById("searchtext").innerHTML = newe;-->
         <!--}-->


        <!--{% for key in block_key %}-->
            <!--highlight2(document.getElementById('content'),'{{key}}','highlight');-->
        <!--{% endfor %}-->


  <!--</script>-->
    <style>
        .highlight {
            background-color: #FFFF00;
        }
        .highlight_fuzzy {
            background-color: #00FF00;
        }

    </style>
  </body>
</html>
