<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>MiSS NERD Interface</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
    <script src="/static/d3/d3.js"></script>

  </head>

  <body>

    {% include "navbar.html"%}
    <div class="container">
        <div class="row">
            <div class="col-xs-1 text-center">
                  <ul class="nav nav-sidebar">
                    {% if navbar_choices %}
                        <p class="text-success">(Text ID)</p>
                        <li> <a href="/nerd_vis/{{navbar_choices[0]-1}}">
                            <span class="glyphicon glyphicon-chevron-up"/> </a></li>
                        <li class="current" style="background: #F0F0F0;"><a class="small"> #{{navbar_choices[0]}} </a> </li>

                    {% for item in navbar_choices[1:] %}
                        <li><a href="/nerd_vis/{{item}}" class="small">#{{item}}</a>
                            </li>
                    {% endfor %}
                        <li> <a href="/nerd_vis/{{navbar_choices[0] + 1}}">
                            <span class="glyphicon glyphicon-chevron-down"/></a></li>
                    {% endif %}

                  </ul>

              </div> <!-- div col2 -->

            <div class="col-xs-10 text-center">

                <div class="row">
                    <div class="col-xs-8 text-center">
                        <div class="panel panel-default">
                        {%if text %}
                          <h3>TEXT ID #{{text.row_id}}</h3>
                            <hr>
                            <p class="text-success">
                               BHIC id = {{text.id}}, date = {{text.date}}, place = {{text.place}}
                            </p>
                          <div class="panel-body">
                          <span class="glyphicon glyphicon-book"></span>
                              <br>
                            {% for word in text.text %}
                              {%if not text['name_indexes'][loop.index-1] %}
                                {{word}}
                              {% else %}
                                    {% if text['name_indexes'][loop.index-1] == 1 %}
                                        <span style="background-color: #FFFF00">{{word}}</span> <!-- capital start-->
                                    {% endif %}
                                    {% if text['name_indexes'][loop.index-1] == 2 %}
                                        <span style="background-color: #DDFF99">{{word}}</span> <!-- prefix-->
                                    {% endif %}
                                    {% if text['name_indexes'][loop.index-1] == 3 %}
                                        <span style="background-color: #FFDD88">{{word}}</span> <!-- first word in paragraph-->
                                    {% endif %}
                                    {% if text['name_indexes'][loop.index-1] == -1 %}
                                        <span style="background-color: #FFFF00; text-decoration:line-through">{{word}}</span>  <!-- strike out non-existing names-->
                                    {% endif %}
                               {% endif %}
                            {% endfor %}
                              <br>
                              <span class="glyphicon glyphicon-book"></span>
                          </div> <!--panel_body -->
                          {% endif %}
                        </div> <!-- panel -->

                        <div class="text-left">
                           <p class="text-warning">
                            <span class="glyphicon glyphicon-cloud-download"></span>
                            <b> Reference names extracted from text: </b></p>
                            {% for ref in refs_list %}
                                <p> <b>{{loop.index}})</b> {{ref[1]}} ({{ref[0]}}) </p>
                            {% endfor %}
                        </div> <!-- eval div -->

                <!--<div class="panel panel-default text-left">-->
                  <!--<div class="panel-body">-->
                  <!--<p class="text-success">-->
                        <!--<b> Here are the rules which are used to extract the names from the text (1-6), and merge them in order to construct the references (7)</b>-->
                        <!--<ol>-->
                            <!--<li> <code> Name_Set &#8592; [ ] </code></li>-->
                            <!--<li> <code> Reference_Set &#8592; [ ]</code></li>-->
                            <!--<li> <code> Name_Set &#8592; Add all words starting with a capital letter (except the first word in each sentence)</code></li>-->
                            <!--<li> <code> Name_Set &#8592; Add the first word in each sentence if the second word is already in Name_Set (except for the word "Testament")</code></li>-->
                            <!--<li> <code> Name_Set &#8592; Add "van", "van den", "van der", "te", "de" if they appear between two names </code></li>-->
                            <!--<li> <code>  Name_Set &#8592; Eliminate the words that don't exist in Meertens database </code></li> This level doesn't work that good as a lot of names don't exist in Meertens institute (see the strike out words.)-->
                            <!--<li> <code> Reference_Set &#8592; Add any set of names that appear consequently </code> </li> For now we use the set from step 5.-->
                        <!--</ol>-->
                    <!--</p>-->
                  <!--</div> &lt;!&ndash; panel_body &ndash;&gt;-->
                <!--</div> &lt;!&ndash; panel &ndash;&gt;-->

                        <!---->
                    </div> <!-- text_center -->

                    <div class="col-xs-4 text-center">
                        {% include "evaluate_form.html" %}
                    </div> <!-- eval form -->

                    <div class="col-xs-4 text-center">
                        <div class="panel panel-default">
                            <div class="panel-body" id="d3_panel" >
                                <h5>Extracted Relations </h5>
                                <hr>
                                <script>
                                    svg_r = d3.select("body")
                                                   .select("#d3_panel")
                                                   .append("svg")
                                    w = svg_r.style("width").replace("px", "");
                                    padding = 20;

                                    data_node = [];
                                    data_link = [];
                                    text_data = ({{extracted_relations|tojson|safe}})
                                    for (i in text_data) {

                                        data_node.push({
                                                         name:text_data[i].ref1[1],
                                                         x: padding,
                                                         y: (180 * i + 10)
                                                        },
                                                        {
                                                         name:text_data[i].ref2[1],
                                                         x: 4 * padding,
                                                         y: (180 * i + 110)
                                                        }
                                                       )

                                        data_link.push({
                                                         name:text_data[i].relation,
                                                         x1: padding,
                                                         x2: 4 * padding,
                                                         y1: (180 * i + 10),
                                                         y2: (180 * i + 110)
                                                        }
                                                       )

                                    }
                                    svg_r.selectAll("circle .node")
                                          .data(data_node)
                                          .enter()
                                          .append("circle")
                                          .attr("class","node")
                                            .attr("cx",function(d){return d.x})
                                            .attr("cy",function(d){return d.y})
                                            .attr("r",4)

                                    svg_r.selectAll("text .node")
                                          .data(data_node)
                                          .enter()
                                          .append("text")
                                          .attr("class","node")
                                            .text(function(d){return d.name})
                                            .attr("x",function(d){return d.x + 10})
                                            .attr("y",function(d){return d.y})
                                            .attr("font-family", "sans-serif")
                                            .attr("font-size", "12px")
                                            .attr("fill", "black");

                                    svg_r.selectAll("line .link")
                                          .data(data_link)
                                          .enter()
                                          .append("line")
                                          .attr("class","link")
                                            .attr("x1",function(d){return d.x1})
                                            .attr("y1",function(d){return d.y1})
                                            .attr("x2",function(d){return d.x1})
                                            .attr("y2",function(d){return d.y1})
                                           .attr("stroke-width", 2)
                                           .attr("stroke", "black")
                                           .transition()
                                           .duration(2000)
                                            .attr("x2",function(d){return d.x2})
                                            .attr("y2",function(d){return d.y2})

                                    svg_r.selectAll("line .link")
                                          .data(data_link)
                                          .enter()
                                           .append("text")
                                            .text(function(d){return "(" + d.name + ")"})
                                            .attr("x",function(d){return (d.x1 + d.x2) / 2 + 10})
                                            .attr("y",function(d){return (d.y1 + d.y2)/2})
                                            .attr("font-family", "sans-serif")
                                            .attr("font-size", "12px")
                                            .attr("fill", "red");


                                </script>

                            </div>
                        </div>

                    </div> <!-- eval form -->


                </div> <!--row -->


            </div> <!-- div 9 -->

        </div> <!--row -->
    </div> <!--div -->


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="{{ url_for('static',filename = 'bootstrap/js/bootstrap.min.js')}}"></script>
    <script src="{{ url_for('static',filename = 'd3/d3.js')}}"></script>

  </body>
</html>
