<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>MiSS NERD Interface</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
    <script src="/static/d3/d3.js"></script>


  </head>

  <body>

    {% include "navbar.html"%}
    <!--<div class="container">-->
        <div class="row">
            <div class="col-xs-1 text-center" >
                  <!--<ul class="nav nav-sidebar">-->
                    <!--{% if navbar_choices %}-->
                        <!--<p class="text-success">(Text ID)</p>-->
                        <!--<li> <a href="/nerd_vis/{{navbar_choices[0]-1}}">-->
                            <!--<span class="glyphicon glyphicon-chevron-up"/> </a></li>-->
                        <!--<li class="current" style="background: #F0F0F0;"><a class="small"> #{{navbar_choices[0]}} </a> </li>-->

                    <!--{% for item in navbar_choices[1:] %}-->
                        <!--<li><a href="/nerd_vis/{{item}}" class="small">#{{item}}</a>-->
                            <!--</li>-->
                    <!--{% endfor %}-->
                        <!--<li> <a href="/nerd_vis/{{navbar_choices[0] + 1}}">-->
                            <!--<span class="glyphicon glyphicon-chevron-down"/></a></li>-->
                    <!--{% endif %}-->

                  <!--</ul>-->

                <!--&lt;!&ndash; Button trigger modal &ndash;&gt;-->
                <!--<button type="button" class="btn btn-default" data-toggle="modal" data-target="#myModal">-->
                  <!--<span class="glyphicon glyphicon glyphicon-edit" aria-hidden="true"></span>-->
                <!--</button>-->

                <button type="button" class="btn btn-warning" onclick="window.location='/nerd_vis/?lucky=1';">
                    NEXT
                </button>
                      {% if True %}

                <br><br><br>
                NEW!!
                    {% set search_term_list = '' %}
                    {% for ref_pair in extracted_relations %}
                        {% set search_term_list = search_term_list + ref_pair.ref1[1] + '_' + ref_pair.ref2[1] + '__' %}
                        {% if loop.index == extracted_relations|length %}
                            <a href= "/search/?depth_level=1&search_term={{search_term_list}}" target="blank"><p class="text-center"> Pedigree View </p></a>
                        {% endif %}

                    {%endfor%}
                    {% endif %}

                <!-- Modal -->
                <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <!--<div class="modal-header">-->
                        <div class="modal-body">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        <h4 class="modal-title" id="myModalLabel">Intelligent Text analysis</h4>
                        <p>Paste your historical text here and use the MiSS intelligent information extraction engine, to extract references and relations from your text.</p>
                      <!--</div>-->
                            <form class="navbar-form navbar-center" action="/nerd_vis/"  method="get">
                                <textarea name="personalText" class="col-sm-12" placeholder="Your Text" rows="10" required="required"></textarea>
                                <hr>
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </form>
                        </div>
                    </div>
                  </div>
                </div>

              </div> <!-- div col2 -->

            <div class="col-xs-11 text-center">

                <div class="row">
                    <div class="col-xs-8 text-center">
                        <div class="panel panel-default">
                        {%if text %}
                          <h5>TEXT ID #{{text.row_id}}</h5>
                            <!--<hr>-->
                            <p class="text-success">
                               BHIC id = {{text.id}}, date = {{text.date}}, place = {{text.place}}
                            </p>
                          <div class="panel-body">
                          <!--<span class="glyphicon glyphicon-book"></span>-->
                              <!--<br>-->
                                <div id="inputText">
                                    {{text.text|join(' ')}}
                                </div>
                              <br>
                              <span class="glyphicon glyphicon-book"></span> <small onmouseover="highlight_references()" onmouseout="highlight_all()"><i>highlight references</i></small>
                          </div> <!--panel_body -->
                          {% endif %}
                        </div> <!-- panel -->

                        <div class="text-left col-xs-4">
                           <p class="text-warning">
                            <span class="glyphicon glyphicon-cloud-download"></span>
                            <!--<b> Extracted References: </b></p>-->
                            <!--{% for ref in refs_list %}-->
                                <!--<small><p>-->
                                    <!--<b>{{loop.index}})</b>-->
                                    <!--<a onmouseover="highlight('{{ref[1]}}','tmp')" onmouseout="de_highlight();highlight_all()">{{ref[1]}} </a>-->
                                <!--</p>-->
                                    <!--</small>-->
                            <!--{% endfor %}-->
                        </div> <!-- eval div -->


                        <div class="text-left col-xs-5">
                           <p class="text-warning">
                            <span class="glyphicon glyphicon-cloud-download"></span>
                            <b> Extracted Relatons: </b></p>
                           <div id="d3_panel" style="overflow: scroll; height: 300px;">
                                <!--<small><p class="text-info"> green: confirmed link, black: nice pattern, red: odd pattern</p></small>-->
                                <script>
                                    svg_r = d3.select("body")
                                                   .select("#d3_panel")
                                                   .append("svg")

                                    padding = 20;

                                    data_node = [];
                                    data_link = [];
                                    text_data = ({{extracted_relations|tojson|safe}})
                                    for (i in text_data) {

                                        data_node.push({
                                                         name:text_data[i].ref1[1],
                                                         x: padding,
                                                         y: (150 * i + 10),
                                                         support: text_data[i].support
                                                        },
                                                        {
                                                         name:text_data[i].ref2[1],
                                                         x: 4 * padding,
                                                         y: (150 * i + 110),
                                                         support: text_data[i].support
                                                        }
                                                       )

                                        data_link.push({
                                                         name:text_data[i].relation,
                                                         x1: padding,
                                                         x2: 4 * padding,
                                                         y1: (150 * i + 10),
                                                         y2: (150 * i + 110),
                                                         color:text_data[i].color
                                                        }
                                                       )

                                    }

                                    svg_r.attr("height",150 * text_data.length);

                                    svg_r.selectAll("circle .node")
                                          .data(data_node)
                                          .enter()
                                          .append("circle")
                                          .attr("class","node")
                                            .attr("cx",function(d){return d.x})
                                            .attr("cy",function(d){return d.y})
                                            .attr("r",4)


                                    svg_r.selectAll("circle .feedback")
                                          .data(data_node)
                                          .enter()
                                          .append("circle")
                                          .attr("class","feedback")
                                          .attr("id", function(d,i){return "feedback_circle" + i})
                                          .attr("cx",function(d,i){return i%2?(d.x+6.5*padding):(d.x+9.5*padding) })
                                          .attr("cy",function(d,i){return i%2?(d.y-39):(d.y+26) })
                                          .attr("r",12)
                                          .attr("fill",function(d,i){return i%2?"red":"green"})

                                    svg_r.selectAll("text .feedback")
                                          .data(data_node)
                                          .enter()
                                          .append("text")
                                          .attr("class","feedback")
                                          .attr("id", function(d,i){return "feedback_text" + i})
                                          .attr("x",function(d,i){return i%2?(d.x+6*padding):(d.x+9*padding) })
                                          .attr("y",function(d,i){return i%2?(d.y-30):(d.y+30) })
                                          .attr("fill","black")
                                          .attr("font-size", "13px")
                                          .text(function(d,i){return i%2?"\uD83D\uDC4E" + "    reject":"\uD83D\uDC4D"+ "    accept"})
                                          .on("click", function(d,i){post_feedback(d,i)})
                                            .transition()
                                            .duration(1000)
                                            .attr("font-size", "18px");

                                    function post_feedback(d,i) {
                                            data = { row_id: "{{text.row_id}}",
                                                    bhic_id: "{{text.id}}",
                                                    ref1: data_node[i - i%2]['name'],
                                                    ref2: data_node[i + 1 - i%2]['name'],
                                                    match: i%2?"False":"True",
                                                    relation_index: Math.floor(i/2),
                                                    supportr1r2: d.support[0],
                                                    supportr1: d.support[1],
                                                    supportr2: d.support[2],
                                                    type: text_data[Math.floor(i/2)].color,
                                                    comment: ""

                                                    };
                                          console.log(data.match + " sent to server." );
                                          $.post(
                                              "/nerd_vis/",
                                              data,
                                              function(data) {}
                                          );
                                        document.getElementById("feedback_circle" + (i - i%2) ).setAttribute("opacity",0);
                                        document.getElementById("feedback_circle" + (i + 1 - i%2)).setAttribute("opacity",0);
                                        document.getElementById("feedback_text" + (i - i%2)).setAttribute("opacity",0);
                                        document.getElementById("feedback_text" + (i + 1 - i%2)).setAttribute("opacity",0);
                                        document.getElementById("link_line" + (Math.floor(i/2))).style.stroke = i%2?"white":"black";

                                        svg_r.append("text")
                                          .attr("class","feedback")
                                          .attr("x", i%2?(d.x+6*padding):(d.x+9*padding))
                                          .attr("y",i%2?(d.y-50):(d.y+50))
                                          .attr("font-size", "20px")
                                          .text(function(){return i%2?'\u274C':'\u2713'})


                                    }
                                    svg_r.selectAll("text .node")
                                          .data(data_node)
                                          .enter()
                                          .append("text")
                                          .attr("class","node")
                                            .text(function(d){return d.name})
                                            .attr("x",function(d){return d.x + 10})
                                            .attr("y",function(d){return d.y})
                                            .attr("font-family", "sans-serif")
                                            .attr("font-size", "12px")
                                            .attr("fill", "black")
                                            .on("mouseenter",function(d){highlight(d.name,"tmp")})
                                            .on("mouseleave", function(){de_highlight();highlight_all()})

                                    highlight_all()

                                    svg_r.selectAll("line .link")
                                          .data(data_link)
                                          .enter()
                                          .append("line")
                                          .attr("class","link")
                                          .attr("id", function(d,i){return "link_line" + i})
                                            .attr("x1",function(d){return d.x1})
                                            .attr("y1",function(d){return d.y1})
                                            .attr("x2",function(d){return d.x1})
                                            .attr("y2",function(d){return d.y1})
                                           .attr("stroke-width", 3)
                                           //.attr("stroke", "teal")
                                           .attr("stroke", function(d){return d.color})
                                           //.style("stroke-dasharray", ("4, 4"))
                                           .style("stroke-dasharray", function(d){ return d.color=="green"?  ("10, 0"):("10, 5")})
                                           .transition()
                                           //.duration(100)
                                           .duration(2000)
                                            .attr("x2",function(d){return d.x2})
                                            .attr("y2",function(d){return d.y2})

                                    svg_r.selectAll("line .link")
                                          .data(data_link)
                                          .enter()
                                           .append("text")
                                            .text(function(d){return "(" + d.name + ")"})
                                            .attr("x",function(d){return (d.x1 + d.x2) / 2 + 10})
                                            .attr("y",function(d){return (d.y1 + d.y2)/2})
                                            .attr("font-family", "sans-serif")
                                            .attr("font-size", "12px")
                                            .attr("fill", "red");



                                function highlight(text, type)
                                {
                                    inputText = document.getElementById("inputText")
                                    var innerHTML = inputText.innerHTML
                                    var index = innerHTML.indexOf(text);
                                    if ( index >= 0 )
                                    {
                                        if (type=="tmp")
                                            innerHTML = replaceAll(text, "<span class='highlight_temp'>" + text + "</span>", innerHTML)
                                        else if (type=="light")
                                            innerHTML = replaceAll(text, "<span class='highlight_light'>" + text + "</span>", innerHTML)
                                        else
                                            innerHTML = replaceAll(text, "<span class='highlight'>" + text + "</span>", innerHTML)
                                        inputText.innerHTML = innerHTML
                                    }

                                }
                                function de_highlight()
                                {
                                    inputText = document.getElementById("inputText");
                                    var innerHTML = inputText.innerHTML;
                                    innerHTML = replaceAll('<span class="highlight_temp">', "",innerHTML)
                                    innerHTML = replaceAll('<span class="highlight_light">', "",innerHTML)
                                    innerHTML = replaceAll('<span class="highlight">', "",innerHTML)
                                    innerHTML = replaceAll("</span>","",innerHTML);
                                    inputText.innerHTML = innerHTML;

                                }

                                function replaceAll(find, replace, str) {
                                  return str.replace(new RegExp(find, 'g'), replace);
                                }

                                function highlight_references(){
                                    refs_list = {{refs_list|tojson|safe}};
                                    for (i=0; i<refs_list.length; i++) {
                                        highlight(refs_list[i][1], "light")
                                    }

                                }

                                function highlight_all(){

                                    de_highlight()
                                    for (i=0; i<data_node.length; i++) {
                                        highlight(data_node[i].name, "")
                                    }

                                }

                                </script>

                            </div>
                    </div>

                    <div class="text-left col-xs-3">
                           <p class="text-warning">
                            <span class="glyphicon glyphicon-cloud-download"></span>
                            <!--<b> Name Alternatives: </b></p>-->
                            <!--{% for name_lists in name_alternatives %}-->
                                    <!--{% for name in name_lists %}-->
                                        <!--<p>-->
                                            <!--<small>-->
                                            <!--{{name}}-->
                                            <!--</small>-->
                                        <!--</p>-->
                                    <!--{% endfor %}-->
                                    <!--<hr>-->
                            <!--{% endfor %}-->
                    </div> <!-- eval div -->



                </div>

                <!--<div class="panel panel-default text-left">-->
                  <!--<div class="panel-body">-->
                  <!--<p class="text-success">-->
                        <!--<b> Here are the rules which are used to extract the names from the text (1-6), and merge them in order to construct the references (7)</b>-->
                        <!--<ol>-->
                            <!--<li> <code> Name_Set &#8592; [ ] </code></li>-->
                            <!--<li> <code> Reference_Set &#8592; [ ]</code></li>-->
                            <!--<li> <code> Name_Set &#8592; Add all words starting with a capital letter (except the first word in each sentence)</code></li>-->
                            <!--<li> <code> Name_Set &#8592; Add the first word in each sentence if the second word is already in Name_Set (except for the word "Testament")</code></li>-->
                            <!--<li> <code> Name_Set &#8592; Add "van", "van den", "van der", "te", "de" if they appear between two names </code></li>-->
                            <!--<li> <code>  Name_Set &#8592; Eliminate the words that don't exist in Meertens database </code></li> This level doesn't work that good as a lot of names don't exist in Meertens institute (see the strike out words.)-->
                            <!--<li> <code> Reference_Set &#8592; Add any set of names that appear consequently </code> </li> For now we use the set from step 5.-->
                        <!--</ol>-->
                    <!--</p>-->
                  <!--</div> &lt;!&ndash; panel_body &ndash;&gt;-->
                <!--</div> &lt;!&ndash; panel &ndash;&gt;-->

                        <!---->


                    <div class="col-xs-4" style="overflow: scroll; height: 700px;"/>
                    <!--<div class="col-xs-4 text-center">-->

                        <div class="panel panel-default">
                            <div class="panel-body" >
                                <h5>Evidences </h5>
                                <!--{% if not extracted_relations %}-->
                                <!--<small><p class="text-warning"> No match is found for any of the reference pairs!</p> </small>-->
                                <!--{% else %}-->

                                    <!--{% for ref_pair in extracted_relations %}-->

                                        <!--<small>-->
                                            <!--{% if ref_pair.numFound == 0%}-->
                                                <!--No matches-->
                                            <!--{% elif ref_pair.numFound == 1%}-->
                                                <!--1 match-->
                                            <!--{%else%}-->
                                                <!--{{ref_pair.numFound}} matches-->
                                            <!--{% endif %}-->
                                            <!--found for <code> {{ref_pair.ref1[1]}}</code> and <code>{{ref_pair.ref2[1]}}</code>. </small>-->
                                        <!--<br>-->
                                    <!--{% endfor %}-->
                                    <!--<hr>-->
                                    {% for ref_pair in extracted_relations %}
                                        {% if ref_pair.numFound %}
                                             <small>For <code>{{ref_pair.ref1[1]}}</code> & <code>{{ref_pair.ref2[1]}}</code>
                                                 see following {{ref_pair.numFound}} civil register(s). sup(r1) = {{ref_pair.support.1}}, sup(r2) = {{ref_pair.support.2}}, sup(r1,r2) = {{ref_pair.support.0}} </small>
                                                {% for html in ref_pair.html %}
                                                    {{html['html']|safe}}
                                                {% endfor %}
                                             <hr>
                                        {% endif %}

                                {% endfor %}

                                {% endif %}
                                <hr>

                            </div>
                        </div>
                    <!--</div>-->



                    </div> <!-- eval form -->


                </div> <!--row -->


            </div> <!-- div 9 -->

        </div> <!--row -->
    </div> <!--div -->

    <style>
        .highlight {
            background-color: #FFFF00;
        }
        .highlight_temp {
            background-color: #FFCCAA;
        }
        .highlight_light {
            background-color: #FFCC00;
        }
        .highlight_fuzzy {
            background-color: #00FF00;
        }
        .feedback:hover{ cursor:pointer}
    </style>


    <script src="/static/jquery-1.11.1.min.js"></script>
    <script src="{{ url_for('static',filename = 'bootstrap/js/bootstrap.min.js')}}"></script>
    <script src="{{ url_for('static',filename = 'd3/d3.js')}}"></script>

  </body>
</html>
