<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>MiSS Intelligent Search Engine</title>

    <!-- Bootstrap core CSS -->
    <script src="../static/jquery-1.11.1.min.js"></script>
    <script src="../static/d3/d3.js"></script>

    <style>
        #tooltip {
            position: absolute;
            width: 200px;
            height: auto;
            padding: 10px;
            background-color: white;
            -webkit-border-radius: 10px;
            -moz-border-radius: 10px;
            border-radius: 10px;
            -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
            -moz-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
            box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
        }

        #tooltip.hidden {
                display: none;
        }

        #tooltip p {
                margin: 0;
                font-family: sans-serif;
                font-size: 16px;
                line-height: 20px;
        }
    </style>

  </head>

  <body>
        <div id="tree"></div>


        <div id="tooltip" class="hidden">
        <div class="hide" id="rmenu">
        <a id="hyper1">Search level 1</a><br>
        <a id="hyper2">Search level 2</a><br>
        <a id="hyper3">Search level 3</a><br>
        <a id="hyper4">Search level 4</a><br>
        <a id="hyper5">Focus</a><br>
        <a id="hyper6" target="_blank">See Timeline</a> <br>
        </div>
        </div>

  </body>
        <script type="text/javascript">


            var dataset = []

            dataset = {{dataset|tojson|safe}}
            var level_index = [1,0,0,0,0,0,0,0]

            min_level = d3.min(dataset.leaves, function(d){return d.level})
            max_level = d3.max(dataset.leaves, function(d){return d.level})
            max_order = d3.max(dataset.leaves, function(d){return d.order})

            BLOCK_WIDTH = 200
            BLOCK_HEIGHT = 30
            WIDTH = (max_level - min_level + 1) * BLOCK_WIDTH * 1.7
            HEIGHT = max_order * BLOCK_HEIGHT * 1.5
            var x_scale = d3.scale.linear().domain([min_level,max_level]).range([10,WIDTH-BLOCK_WIDTH-2])
            var y_scale = d3.scale.linear().domain([1,max_order]).range([10,HEIGHT-BLOCK_HEIGHT-2])

            svg = d3.select("body")
            .select("#tree")
            .append("svg")
            .attr("width", WIDTH)
            .attr("height", HEIGHT)


             svg.selectAll("line")
             .data(dataset.branches)
             .enter()
             .append("line")
             .attr("x1",function(d){leaf = $.grep(dataset.leaves, function(e){ return e.index == d.source; }); return  x_scale(leaf[0].level) + BLOCK_WIDTH  })
             .attr("y1",function(d){leaf = $.grep(dataset.leaves, function(e){ return e.index == d.source; }); return y_scale(leaf[0].order) + BLOCK_HEIGHT / 2})
             .attr("x2",function(d){leaf = $.grep(dataset.leaves, function(e){ return e.index == d.target; }); return x_scale(leaf[0].level)})
             .attr("y2",function(d){leaf = $.grep(dataset.leaves, function(e){ return e.index == d.target; }); return y_scale(leaf[0].order) + BLOCK_HEIGHT / 2})
             .attr("stroke", "gray")
             .on("mouseover",function(d) {d3.select("#tooltip").classed("hidden", true)})

            svg.selectAll("rect")
            .data(dataset.leaves)
            .enter()
            .append("rect")
            .attr("width", function(d){ return BLOCK_WIDTH})
            .attr("height", function(d){ return  BLOCK_HEIGHT})
            .attr("x",function(d){return x_scale(d.level) })
            .attr("y",function(d){return y_scale(d.order)})
            .attr("fill",  function(d){return d.color})
            .attr("stroke-width",1)
            .attr("stroke", "black")
            .on("mouseover", mouseOver)
            .on("mouseout", mouseOut)
            .on("click", mouseClick)
            .on("contextmenu", function(d, index) {
                var position = d3.mouse(this);
                d3.select('#tooltip')
                  .style('left', position[0] + 30 + "px")
                  .style('top', position[1] + "px")
                  .select("#hyper6")
                  .attr("href", "http://localhost:20002/hash_matches/?search_term=" + d.node1.name + '_' + d.node2.name)

                  d3.select('#tooltip').select("#hyper1")
                  .attr("href", "http://localhost:20002/search/?depth_level=1&search_term=" + d.node1.name + '_' + d.node2.name)
                  d3.select('#tooltip').select("#hyper2")
                  .attr("href", "http://localhost:20002/search/?depth_level=2&search_term=" + d.node1.name + '_' + d.node2.name)
                  d3.select('#tooltip').select("#hyper3")
                  .attr("href", "http://localhost:20002/search/?depth_level=3&search_term=" + d.node1.name + '_' + d.node2.name)
                  d3.select('#tooltip').select("#hyper4")
                  .attr("href", "http://localhost:20002/search/?depth_level=4&search_term=" + d.node1.name + '_' + d.node2.name)

                d3.select("#tooltip").classed("hidden", false);

                d3.event.preventDefault();
            })
            .append("title")
            .text(function(d){return "date = " + d.min_date + '-'+ d.max_date})


            function get_target_list(the_index) {
                len_old = 0
                target_list = [the_index]
                while (target_list.length > len_old) {
                    len_old = target_list.length
                    for (i=0; i < dataset.branches.length; i++) {
                        if ((target_list.indexOf(dataset.branches[i].target) > -1) && (target_list.indexOf(dataset.branches[i].source) == -1) ){
                            target_list.push(dataset.branches[i].source)

                        }
                    }
                }
            return target_list
            }

            function get_source_list(the_index) {
                len_old = 0
                source_list = [the_index]
                while (source_list.length > len_old) {
                    len_old = source_list.length
                    for (i=0; i < dataset.branches.length; i++) {
                        if ((source_list.indexOf(dataset.branches[i].source) > -1) && (source_list.indexOf(dataset.branches[i].target) == -1) ){
                            source_list.push(dataset.branches[i].target)

                        }
                    }
                }
            return source_list
            }


            function mouseOver(d) {
                d3.select("#tooltip").classed("hidden", true);

                if (!d.gold) {

                     the_index = d.index

                     target_list = get_target_list(d.index)
                     source_list = get_source_list(d.index)

                     svg.selectAll("rect")
                     .data(dataset.leaves)
                     .attr("fill", function(d) {return (((target_list.indexOf(d.index)>-1) || (source_list.indexOf(d.index)>-1)) && d.color!="Coral")? "yellow": d.color})

                    d3.select(this)
                    .attr("fill", "Gold")


                     svg.selectAll("line")
                     .data(dataset.branches)
                     .attr("stroke", function(d) {
                                                     if (source_list.indexOf(d.source)>-1){

                                                        return "darkred"
                                                     }
                                                     else if (target_list.indexOf(d.target)>-1){
                                                        return "darkblue"
                                                     }
                                                     else {
                                                        return d.color
                                                     }

                                                  })
                     .attr("stroke-width", function(d) {
                                                     if (source_list.indexOf(d.source)>-1){
                                                        return 3
                                                     }
                                                     else if (target_list.indexOf(d.target)>-1 ){
                                                        return 3
                                                     }
                                                     else {
                                                        return d.width
                                                     }

                                                  })

                }
             }



            function mouseOut(d) {

                if (!d.gold) {
                    d3.select(this)
                    .attr("fill", "beige")

                     svg.selectAll("rect")
                     .data(dataset.leaves)
                     .attr("fill", function(d){return d.color})

                     svg.selectAll("line")
                     .data(dataset.branches)
                     .attr("stroke", function(d) {return d.color})
                     .attr("stroke-width", function(d) {return d.width})
                }

            }

            function mouseClick(d) {
                the_index = d.index

                 target_list = get_target_list(the_index)
                 source_list = get_source_list(the_index)

                if (!d.gold) {
                    d.gold = true

                     svg.selectAll("rect")
                     .data(dataset.leaves)
                     .attr("fill", function(d) {
                            if ((target_list.indexOf(d.index)>-1) || (source_list.indexOf(d.index)>-1)) {
                                if (d.color != "Coral")
                                    d.color = "SkyBlue"
                             }
                             return d.color
                             } )

                    d3.select(this)
                    .attr("fill", function(d){if (d.color!="Coral") d.color="LightGreen"; return d.color})


                     svg.selectAll("line")
                     .data(dataset.branches)
                     .attr("stroke", function(d) {
                                                     if (source_list.indexOf(d.source)>-1){
                                                        d.color = "red"
                                                        return "red"
                                                     }
                                                     if (target_list.indexOf(d.target)>-1){
                                                        d.color = "blue"
                                                        return "blue"
                                                     }
                                                     else {
                                                        return d.color
                                                     }

                                                  })
                     .attr("stroke-width", function(d) {
                                                     if (source_list.indexOf(d.source)>-1){
                                                        d.width = 3
                                                        return 3
                                                     }
                                                     if (target_list.indexOf(d.target)>-1){
                                                        d.width = 3
                                                        return 3
                                                     }
                                                     else {
                                                        return d.width
                                                     }

                                                  })

                }
                else {
                    d.gold = false
                    d3.select(this)
                    .attr("fill", "beige")

                     svg.selectAll("rect")
                     .data(dataset.leaves)
                     .attr("fill", function(d){if (d.color != "Coral") d.color = "beige"; d.gold = false; return d.color})


                     svg.selectAll("line")
                     .data(dataset.branches)
                     .attr("stroke", function(d) {
                                                        d.color = "gray"
                                                        return d.color
                                                  }

                                                  )
                     .attr("stroke-width", function(d) {
                                                        d.width = 1
                                                        return d.width

                                                  })
                                                  }
             }
            svg.selectAll("text .name")
            .data(dataset.leaves)
            .enter()
            .append('a')
            .attr("xlink:href", function(d){return "http://localhost:20002/hash_matches/?search_term=" + d.node1.name + '_' + d.node2.name;})
            .attr("xlink:show", "new")
            .append("text")
            .attr("class","name")
            .attr("x", function(d) {return x_scale(d.level) + BLOCK_WIDTH/2})
            .attr("y", function(d) {return y_scale(d.order) + BLOCK_HEIGHT/2})
            .attr("text-anchor","middle")
            .attr("font-size", 12)
            .text(function(d) {return d.node1.name + ' - ' + d.node2.name}) // + '(' + d.depth + ')'})
            .style("pointer-events", "none")

             svg.selectAll("text .doc")
            .data(dataset.leaves)
            .enter()
            .append("text")
            .attr("class","doc")
            .attr("x", function(d) {return x_scale(d.level) + BLOCK_WIDTH/2})
            .attr("y", function(d) {return y_scale(d.order) + BLOCK_HEIGHT/1.1})
            .attr("text-anchor","middle")
            .attr("font-size", 9)
            .text(function(d) {return d.doc_id.length<40?d.doc_id:d.doc_id.substring(0,40)+"...";})
            .style("pointer-events", "none")


        </script>
  </html>