<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>MiSS Intelligent Search Engine</title>

    <!-- Bootstrap core CSS -->
    <script src="../static/d3/d3.js"></script>



  </head>

  <body>
        <div id="tree"></div>

  </body>
        {% for b in dataset.leaves %}
            {{b.level}}, {{b.order}})    {{b.node1.name}} -- {{b.node2.name}}
            <br>
        {% endfor %}
        <br><br>
        {% for b in dataset.branches %}
            {{b.source.level}}, {{b.source.order}} --> {{b.target.level}}, {{b.target.order}}
            <br>
        {% endfor %}
        <script type="text/javascript">


            var dataset = []

            dataset = {{dataset|tojson|safe}}
            var level_index = [1,0,0,0,0,0,0,0]
            max_index = d3.max(dataset,function(d){d.index_new})
            max_index = 100

            for (i =0 ; i<= 5; i++) {
                level_index[i] = max_index
                }

            /*
            add_node(1,1,1,family)

            function add_node(level_old, index_old, level_new, person) {
                for (i =0 ; i<= 5; i++) {
                    level_index[i] += 1
                    }
                if (level_new > 10) {
                    return 0
                }
                var the_index = level_index[level_new]
                dataset.push({level_old:level_old, index_old:index_old, level_new:level_new, index_new:the_index, name1: person.name1, name2: person.name2, couple: person.couple})


                if (person.children) {
                    for (var i = 0; i < person.children.length; i++) {
                        add_node(level_new, the_index, level_new+1, person.children[i])
                    }
                }
                if (person.parents) {
                    for (var i = 0; i < person.parents.length; i++) {
                        add_node(level_new, the_index, level_new-1, person.parents[i])
                    }
                }

            }
            */
            WIDTH = 1200
            BLOCK_WIDTH = 200
            BLOCK_HEIGHT = 30
            HEIGHT = 10 * BLOCK_HEIGHT * 1.2
            var x_scale = d3.scale.linear().domain([1,5]).range([10,WIDTH-BLOCK_WIDTH])
            var y_scale = d3.scale.linear().domain([1,4]).range([10,HEIGHT-BLOCK_HEIGHT])

            svg = d3.select("body")
            .select("#tree")
            .append("svg")
            .attr("width", WIDTH)
            .attr("height", HEIGHT)


             svg.selectAll("line")
             .data(dataset.branches)
             .enter()
             .append("line")
             .attr("x1",function(d){return x_scale(d.source.level) + BLOCK_WIDTH  })
             .attr("y1",function(d){return y_scale(d.source.order) + BLOCK_HEIGHT / 2})
             .attr("x2",function(d){return x_scale(d.target.level)})
             .attr("y2",function(d){return y_scale(d.target.order) + BLOCK_HEIGHT / 2})
             .attr("stroke", "black")

            svg.selectAll("rect")
            .data(dataset.leaves)
            .enter()
            .append("rect")
            .attr("width", function(d){ return BLOCK_WIDTH})
            .attr("height", function(d){ return  BLOCK_HEIGHT})
            .attr("x",function(d){return x_scale(d.level) })
            .attr("y",function(d){return y_scale(d.order)})
            .attr("fill",  "beige")
            .attr("stroke-width",1)
            .attr("stroke", "black")

            svg.selectAll("text")
            .data(dataset.leaves)
            .enter()
            .append("text")
            .attr("x", function(d) {return x_scale(d.level) + BLOCK_WIDTH/2})
            .attr("y", function(d) {return y_scale(d.order) + BLOCK_HEIGHT/2})
            .attr("text-anchor","middle")
            .attr("font-size", 12)
            .text(function(d) {return d.node1.name + ' - ' + d.node2.name})


        </script>
  </html>