<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>MiSS Web Interface</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">

  </head>

  <body>

    <h1> _</h1>
    <div class="navbar navbar-fixed-top navbar-inverse" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">MiSS</a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <!--<li class="active"><a href="#">Home</a></li>-->
                <li><a href="/person">Person</a></li>
                <li><a href="/document">Document</a></li>
                <li><a href="/block">Block</a></li>
                <li><a href="/link">Link</a></li>
                <li><a href="/visualization">Visualization</a></li>
                <li><a href="/load_data">Load Data</a></li>
            </ul>
            <div class="col-sm-3 col-md-3 pull-right">
                <form class="navbar-form navbar-right" role="search" method="get">
                  <div class="input-group">
                    <input type="text" class="form-control" placeholder="search by id" name="search_term">
                    <div class="input-group-btn" >
                        <button type="submit" class="btn btn-default">
                            <i class="glyphicon glyphicon-search"></i>
                        </button>
                    </div>
                  </div>
                </form>
            </div><!-- /.nav-collapse -->

        </div><!-- /.nav-collapse -->

      </div><!-- /.container -->
    </div><!-- /.navbar -->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>

    <div class="container">
        <!--{% if message %}-->
        <!--<div class="jumbotron">-->
            <!--<h1> {{header}} </h1>-->
            <!--<p>{{message}}</p>-->
        <!--</div>-->
        <!--{% endif %}-->


                {% if message or header %}
                    <div class="jumbotron">
                        <h1> {{header}} </h1>
                        <p>{{message}}</p>
                    </div>
                {% endif %}

           {% if p is defined %}
              <div class="row row-offcanvas row-offcanvas-right">

                  <div class="col-xs-14 col-sm-12 sidebar-offcanvas" id="sidebar" role="navigation">
                  <div class="list-group">
                    {% for key,value in p.iteritems() %}
                    <b> {{key}}</b>: {{value}}
                      <br>
                    {% endfor %}
                  </div>
                </div><!--/span-->
              </div><!--/row-->
           {% endif %}

            <div class="col-xs-14 col-sm-14 sidebar-offcanvas"  role="navigation">
                <hr>
                <div class="col-sm-6" id="graph1"> </div>
                <div class="col-sm-6" id="graph2"> </div>
                <!--<div id="graph3"> </div>-->
        </div><!--/row-->



        <footer>
            <p class="pull-right">&copy; MiSS 2014</p>
        </footer>

    </div><!--/.container-->
    <script src="{{ url_for('static',filename = 'bootstrap/js/bootstrap.min.js')}}"></script>
    <script src="{{ url_for('static',filename = 'd3/d3.js')}}"></script>
    {% if json_dict %}
        <script> {% include "my_scripts/draw_tree_h.js" %} </script>
        <script> {% include "my_scripts/draw_tree_v.js" %} </script>
        <style> {%include "my_scripts/tree_style.css" %}</style>
    {% endif %}



  </body>
</html>
