<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>MiSS Web Interface</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">

  </head>

  <body>

    {% include "navbar.html"%}

    <div class="container">
        {% if message or header %}
            <div class="jumbotron">
                <h1> {{header}} </h1>
                <p>{{message}}</p>
            </div>
        {% endif %}

          <div class="row row-offcanvas row-offcanvas-right">
              <div class="col-sm-2 col-md-2 sidebar">
                    {% for key, value in navbar_choices.iteritems() %}
                      <ul class="nav nav-sidebar">
                        <li><a class="list-group-item-info" href="/check_pedigrees/{{key}}">Pedigrees of Depth {{key}}</a></li>
                        {% for item in value %}
                            <li><a href="/check_pedigrees/{{key}}/{{item[1]}}" class="small">{{item[0]}}</a></li>
                        {% endfor %}
                        <li class="divider"></li>
                      </ul>
                    {% endfor %}

              </div>
              <div class="col-xs-10 col-sm-10 sidebar-offcanvas" id="sidebar" role="navigation">
                  <div class="list-group">
                    {% for key, value in details.iteritems() %}
                        <b> {{key}}:</b>
                      {% for item in value %}
                            <a href="/document/{{item}}" target="_blank">{{item}}</a>,
                      {% endfor %}
                      <br>
                    {% endfor %}
                  </div>

                    <hr>
                    <div class="col-sm-12" id="graph_top"> </div>
                    <!--<div class="col-sm-12" id="graph_down"> </div>-->


              </div><!--/span-->
          </div><!--/row-->



    </div><!--/.container-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="{{ url_for('static',filename = 'bootstrap/js/bootstrap.min.js')}}"></script>
    <script src="{{ url_for('static',filename = 'd3/d3.js')}}"></script>
    <style> {%include "my_scripts/tree_style.css" %}</style>

    {% if json_dict_h %}

        <script>
            var margin = {top: 1, right: 0, bottom: 100, left: 220},
                width = ({{depth}}*300) - margin.left - margin.right,
                height = (Math.pow({{depth}},3)*20) - margin.top - margin.bottom;

            var svg = d3.select("#graph_top").append("svg")
                .attr("width", width + margin.left + margin.right)
                .attr("height", height + margin.top + margin.bottom)
                .append("g")
                .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

            var myjson = '{{json_dict_h|tojson|safe}}';

            {% include "my_scripts/draw_tree_h.js" %}
        </script>

        <!--<script> {% include "my_scripts/draw_tree_v.js" %} </script>-->
    {% endif %}



      {% include "footer.html" %}
  </body>
</html>
