
            text {
              font-family: "Helvetica Neue", Helvetica, sans-serif;
              font-size: 80%;
            }

            .name {
              font-weight: bold;
            }

            .selected {
              font-weight: bold;
              fill : red;
              //stroke : black
            }

            .id {
              fill: #933;
              font-size: x-small;
            }

            .about {
              fill: #777;
              font-size: xx-small;
            }

            .link {
              fill: none;
              stroke: #800;
              shape-rendering: crispEdges;
            }
